div {
  &.client-view-main {
    display: flex;
    flex-flow: row;
  }

  &.client-sitter-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }

  &.sitter-preview-div {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    height: 200px;
    margin: 10px;
  }

  &.sitter-preview-info {
    display: flex;
    flex-direction: column;
  }
}

img {
  &.favorite-button {
    width: 25px;
    height: 25px;
  }

  &.sitter-preview-image {
    width: 100px;
    height: 100px;
  }
}
