div {
  &.client-view-main {
    display: flex;
    flex-flow: row;
  }

  &.client-sitter-list {
    align-items: center;
    display: flex;
    flex-flow: column;
  }

  &.favorite-button-div {
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    width: 22%;
  }

  &.search-bar {
    margin-left: -50px;
    margin-right: 50px;
  }

  &.sitter-preview-div {
    align-items: center;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: 10px 0 0 0;
    width: 50vw;

  }

  &.sitter-preview-info {
    display: flex;
    flex-direction: column;
    line-height: 1;
    width: 75%;
  }
}

img {
  &.favorite-button {
    height: 25px;
    margin: 10px;
    width: 25px;
  }

  &.sitter-preview-image {
    height: 100%;
    min-width: 33%;
    object-fit: cover;
    padding: 10px;
    width: 33%;
  }
}

input {
  &.search-text-field {
    width: 80px;
  }
}
