$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

// $feather: #77c9d4;
// $marine: #57bc90;
// $forest: #015249;
// $sleek-grey: #a5a5af;

// PuppyBellies font courtesy of http://bythebutterfly.com
@font-face {
  font-family: 'PuppyBellies';
  src: url('./fonts/PuppyBellies.ttf') format('truetype');
}

.petsitter-name {
  font-family: 'PuppyBellies';
}

h3 {
  font-family: 'Caveat', cursive;
  font-size: 3em;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 1.1em;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  border-radius: 10px;
  display: block;
  font-size: 1.5em;
  padding: 20px;
  position: fixed;
  right: 10px;
  text-align: center;
  top: 110px;
  width: 30%;
  z-index: 100000;
}


.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.main-container {
  min-height: 88.6vh;
  padding-top: 100px;
}
