$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;


$feather: #77c9d4;
$marine: #57bc90;
$forest: #015249;
$sleek-grey: #a5a5af;

// PuppyBellies font courtesy of http://bythebutterfly.com
@font-face {
  font-family: 'PuppyBellies';
  src: url('./fonts/PuppyBellies.ttf') format('truetype');
}

.petsitter-name {
  font-family: 'PuppyBellies';
}

h3 {
  font-family: 'Caveat', cursive;
  font-size: 3em;
}

header {
  // background-color: ;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 1.1em;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.main-container {
  min-height: 78.4vh;
}
