$feather: #77c9d4;
$marine: #57bc90;
$forest: #015249;
$sleek-grey: #a5a5af;

$mustard: #e9b000;
$aqua: #008f95;

div {
  &.landing-div {
    display: flex;
    flex-direction: column;
  }

  &.man-and-dog {
    align-items: center;
    background-image: url('../images/man-and-dog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 300px;
    justify-content: center;
    width: 100%;
 }

 &.first-question-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 30px;
 }

  &.third-question-div {
    margin: 50px;
  }

  &.text-div {
    background: white;
 }

  &.cat-and-dog-text {
    display: flex;
    flex-direction: column;
    margin: 20px;
 }

  &.verified-div {
    justify-content: space-between;
    padding: 0 20px
 }

  &.verified-text-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
  }
}

img {
  &.cat-and-dog {
    align-self: flex-end;
    box-shadow: 40px 40px $mustard;
    height: 300px;
    margin: 50px;
    object-fit: cover;
    width: 300px;
  }

  &.high-five-kitten {
    align-self: flex-end;
    box-shadow: -40px 40px $aqua;
    height: 299px;
    margin: 50px 0;
    object-fit: cover;
    width: 300px;
  }
}

p {
  &.landing-page-text {
      font-size: 1.7em;
  }
}

h1 {
  &.welcome-text {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 6em;
  }
}

h3 {
  &.landing-h3 {
    margin: 30px 0;
    display: inline;
    background: white;
    padding: 10px;
    border: solid 1px black;
    width: auto;
  }

  &.about {
    width: 145px;
  }

  &.cared-for {
    width: 650px;
  }
}

span {
  &.petsitter-text {
    font-family: 'PuppyBellies', cursive;
  }
}
