div {
  &.animal-checkbox-div {
    display: flex;
    height: 40px;
    justify-content: center;
  }

  &.animal-checkbox-div-wrapper {
    margin-top: 10px;
  }

  &.client-form {
    margin-top: 0;
  }

  &.sitter-form {
    margin-top: 0;
  }
}

input {
  &.account-radio {
    margin: 10px;
  }

  &.animal-checkbox {
    margin: 10px;
  }
}

label {
  margin: 10px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh auto;
  max-width: 600px;

  h3,
  input,
  textarea {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}
